# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=547e6c2077d388f7d631d0f2709ab5ced58ca55e4ef4ef572a4c8f3e1ac440b82352b192321b0649c19052e16e2fabea98082072ce4e26ba5be9165ed0c520da
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
